/*coulouring for debug
/* .footer {
  background-color: brown;
}
.sidebar {
  background-color: aqua;
}
.projects {
  background-color: bisque;
}
.maincontent {
  background-color: brown;
}
.header {
  background-color: blue;
}
.navigation {
  background-color: aquamarine;
}
  
  */

.mainContainer h1 {
  text-align: center;
}

.mainContent img {
  height: calc(100% - 72px);
}

.footer h1 {
  text-align: center;
}

.footer {
  background-color: brown;
  width: 100%;
}
